
.content{
    position: absolute;
    margin-left: 400px;
    margin-top: 200px;
}

.slideshow{
    position: absolute;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: perspective(900) rotateX(-20deg) translateZ(-480px);
}

.slideshow .face{
    position: absolute;
	backface-visibility: visible;
    background-color: rgba(200, 200, 200, 0.8);
}

.slideshow .face img{
    margin-left: 10px;
    margin-top: 10px;
}


.slideshow .face-back{
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
	backface-visibility: visible;
    background-color: rgb(200, 200, 200);
}
