.slide{
	position: relative;
	top: 200px;
	max-width: 1200px;
}
.slide-show-content{
    margin-left: 20px;
	margin-right: 20px;
}

.slideshow{
    position: relative;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: perspective(900) rotateX(-10deg) translateZ(-480px);
}

.slideshow .face{
    position: absolute;
	backface-visibility: visible;
    background-color: rgba(200, 200, 200, 0.8);
}

.slideshow .face img{
    margin-left: 10px;
    margin-top: 10px;
}


.slideshow .face-back{
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
	backface-visibility: visible;
    background-color: rgb(200, 200, 200);
}

.controls{
	width: 120px;
	height: 145px;
	transform: perspective(2000);
}

.controls:active{
	transform: translateX(5px);
}

#right-control{
	float:right;
}

#left-control{
	float:left;
}

.controls img{
	margin-left: auto;
	display: block;
}

